$primary-color: #1867c0; // @TODO variables file

#spp_app {
    background-color: rgba(#eee, .75);
    padding: 1em;

    h2 {
        margin: 0 0 .25em 0;
    }

    .app__wrapper {

    }

    .app__form {

    }

    .app__option {

        &:not(:last-of-type) {
            margin-bottom: .25em;
        }

        label {
            cursor: pointer;
        }

        input {

        }
    }

    .app__submit {
        margin-top: 1em;

        button {
            border: 0;
            padding: 0 .75em;
            font-size: 24px;
            line-height: 1em;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            background-color: $primary-color;
            height: 50px;
            text-transform: uppercase;
            color: #fff;
            min-width: 250px;
            transition: all .3s ease-out;
            cursor: pointer;
            letter-spacing: 0.05em;

            &:hover,
            &:focus {
                background-color: rgba($primary-color, .9);
            }

            &[disabled] {
                opacity: .5;
            }
        }
    }

    .app__results {

    }

    .results__option {
        position: relative;
        padding: .5em;

        &:not(:last-of-type) {
            margin-bottom: .25em;
        }
    }

    .option__bar {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        background-color: rgba($primary-color, .3);
        height: 100%;
    }

    .option__content {
        position: relative;
        z-index: 2;
        display: flex;
    }

    .content__percentage {
        width: 50px;
        margin-right: 20px;
    }

    .app__count {
        margin-top: .5em;
        font-weight: 600;
    }

    .app__loading {
        text-align: center;
        font-weight: 700;
    }
}
