<template>
    <div id="spp_app">

        <div class="app__wrapper" v-if="! loading">
            <h2>{{ title }}</h2>

            <form class="app__form"
                  @submit.prevent="submit"
                  v-if="! voted"
            >
                <div class="app__option"
                     v-for="( option, index ) in options"
                >
                    <label>
                        <input type="radio" v-model="vote" :value="option.name" />
                        {{ option.name }}
                    </label>
                </div>

                <div class="app__submit">
                    <button type="submit"
                            :disabled="! submittable"
                    >Vote</button>
                </div>
            </form>

            <div class="app__results"
                 v-else
            >
                <div class="results__option"
                     v-for="( option, index ) in options"
                >
                    <div class="option__bar"
                         :style="`width:${getPercentage( option.count )}%`"
                    ></div>
                    <div class="option__content">
                        <div class="content__percentage">
                            {{ getPercentage( option.count ) }}%
                        </div>
                        <strong>{{ option.name }}</strong>
                    </div>
                </div>
            </div>

            <div class="app__count">
                {{ count }} {{ voteString }}
            </div>
        </div>

        <div class="app__loading" v-else>
            Loading...
        </div>

    </div>
</template>

<script>

    export default {

        data() {
            return {
                vote: '',
                options: [],
                title: '',
                count: 0,
                loading: true,
                voted: false,
            }
        },

        created() {
            this.getData();
        },

        computed: {

            voteString() {
                return this.count == 1 ? 'vote' : 'votes';
            },

            id() {
                return 1; // @TODO hardcoded id
            },

            submittable() {
                return this.vote != '';
            },

        },

        methods: {

            getData() {
                axios.get( `${SPP_Data.endpoints.polls.get}${this.id}` )
                     .then( response => {
                        this.title   = response.data.title;
                        this.options = response.data.options;
                        this.count   = response.data.count;
                        this.voted   = response.data.voted;
                        this.loading = false;
                     } )
                     .catch( error => {
                        console.log( error )
                     } );
            },

            increment() {
                let index = this.options.findIndex( option => {
                    return option.name == this.vote;
                } );

                this.options[ index ].count++
                this.count++;
                this.voted = true;
            },

            getPercentage( value ) {
                return Math.round( ( value / this.count ) * 100 );
            },

            submit() {
                // @TODO API post to record vote, get updated counts from database
                this.increment(); // @TODO temp solution
            },

        },

    }

</script>
